@font-face {
    font-family: MuseoSansCyrl;
    font-weight: 300;
    src: local('MuseoSansCyrl-300'),
    url('../fonts/MuseoSansCyrl-300.ttf');
}

@font-face {
    font-family: MuseoSansCyrl;
    font-weight: 400;
    src: local('MuseoSansCyrl-500'),
    url('../fonts/MuseoSansCyrl-500.ttf');
}

@font-face {
    font-family: MuseoSansCyrl;
    font-weight: 600;
    src: local('MuseoSansCyrl-700'),
    url('../fonts/MuseoSansCyrl-700.ttf');
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1280px;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #F0F0F0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 57px 70px 93px;
    font-family: 'MuseoSansCyrl', sans-serif;
    font-weight: 400;
    color: #242424;
}

.balance {
    min-width: 255px;
    min-height: 242px;
    box-sizing: border-box;
    padding: 16px 38px;
    background: #e6e6e6;
}

.balance__heading {
    margin-top: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 13px;
}

.money {
    padding: 5px 0 5px 52px;
    font-size: 52px;
    font-weight: 600;
    line-height: 43px;
    background: url("../images/icon-coin-et.svg") no-repeat;
}

.options {
    width: 802px;
    min-height: 242px;
    box-sizing: border-box;
    padding: 11px 14px 22px 29px;
    background: #e6e6e6;
}

.option__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.options__heading {
    margin-top: 6px;
    font-size: 22px;
    font-weight: 600;
    line-height: 13px;
}

.options__instruction-button {
    border: none;
    font-size: 9px;
    font-weight: 300;
    line-height: 18px;
    text-decoration-line: underline;
    background-color: transparent;
}

.options-list {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 34px;
    list-style: none;
}

.options-item {
    width: 145px;
    text-align: center;
    background: url("../images/icon-books.png") center top 28px no-repeat;
}

.options-item_calls {
    background-image: url("../images/icon-call.png");
}

.options-item_special-course {
    background-image: url("../images/icon-book.png");
}

.options-item__money {
    width: max-content;
    margin: 0 auto 57px;
    padding: 2px 0 2px 17px;
    font-size: 18px;
    line-height: 13px;
    background-size: 14px;
}

.options-item__subject {
    font-size: 12px;
    line-height: 24px;
}

.options-item__discount {
    display: inline-block;
    width: 40px;
    height: 18px;
    box-sizing: border-box;
    margin-right: 5px;
    padding-top: 1px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    color: white;
    background-color: #FF1A1A;
    transform: rotate(-15deg);
}

.options-item__button {
    width: 135px;
    height: 42px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    background: #FECE00;
}

.options-item__button_disabled {
    color: #FFF;
    background-color: #00CD52;
}

.modal-instruction {
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, 0.8);
}

.modal-instruction__content {
    position: relative;
    max-width: 477px;
    min-height: 470px;
    box-sizing: border-box;
    margin: 155px auto;
    padding: 60px 47px 60px 37px;
    background: #EDEEF0;
    opacity: 1;
}

.modal-instruction__heading {
    margin-top: 0;
    font-size: 25px;
    line-height: 32px;
    font-weight: 600;
}

.modal-instruction__close-button {
    position: absolute;
    top: 21px;
    right: 25px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: none;
    font-size: 0;
    line-height: 0;
    background: transparent url("../images/icon-close-cross.png") no-repeat center center;
}

.modal-instruction__text {
    margin-bottom: 27px;
}

.main-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.login-form__label {
    padding: 5px 20px;
    margin-bottom: 10px;
}

.login-form__input {
    margin: 0 20px 20px 20px;
    padding: 5px 10px;
    border: 2px solid #FECE00;
    border-radius: 5px;
}

.login-form__button {
    width: 135px;
    height: 42px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    background: #FECE00;
}